body {
	
	color: black;
	background: -webkit-linear-gradient(#ffffff, #f2f2f2, #e6e6e6, #d9d9d9, #cccccc, #bfbfbf);
	background-position: center;
	background-repeat: no-repeat;	
	
	
}
header {
	height: auto;
	background-image: url('../img/tech_logo_black_s.png');
	background-repeat: no-repeat;
	background-color: orange;
	/*border-bottom-left-radius: 40px 20px;*/
	
	
}
header:hover {
	height: auto;
	background-image: url('../img/tech_logo_white_s.png');
	background-repeat: no-repeat;
	background-color: orange;
	/*border-bottom-left-radius: 40px 20px;*/
	
	
}
h1{
	text-indent:-99999px;
	width: 900px;
	height: 150px;
	margin:0;
}
.current {
	background-color:black;
	color: orange;
}
nav {
	clear:both;
	color: black;
	background-color: orange;
	height: 18px;
	margin-left: 0px;
	
}
footer {
	clear:both;
	color: white;
	background-color: orange;
	height: 30px;
}
nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	display: inline;
}
nav ul li {
	display: inline;
	margin-right: 30px;
	margin-left: 50px;
	/*padding: 0px 0px 0px 0px;*/
	
}
nav ul li a {
	color: black;
}

article{
	clear:both;
	width:100%;
	
}
.product{
width: 145px;
	height: 150px;
	float: left;
	padding: 0px;
	border: 4px solid grey;
	background-color: #fff;
	border-radius: 15px;
}

figure{ /*bilderna inkl text*/
	width: 145px;
	height: 200px;
	float: left;
	padding: 0px;
	border: 4px solid grey;
	background-color: #fff;
	border-radius: 15px;
	
}
figure input{
	border: 1px solid grey;
	margin-left: 5px;
	max-width: 60px;
	margin-right: 13px;
}
figure img{
	max-width: 150px;
	max-height: 150px;
	border-radius: inherit;
}
figure label{
	padding: 8px;
	
}
nav ul li a:hover {
	color: white;
	
}

footer {
	color: #666;
	hover: #fff;
	
}
footer:hover {
	color: white;
}
.spoiler {
	display: inline;
	background-color: black;
    color: black;
	
	
}
.spoiler:hover{
	color: black;
	background-color: transparent;
}
.spoiler:active{
	color: black;
	background-color: transparent;
}

section.Main{
	width:900px;
	border-right: #fff solid 1px;
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
	float: left;
	
	
	
}
section.side{
	padding-top: 10px;
}
aside {
    width: 300px;
    float: left;
    padding: 0 0 0 20px;
}
aside img {
	height: 200px;
	width: 150px;
	border-radius: 10px;
}
.button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
}
.button:hover{
	color: black;
}
