		.Mordian {
			
			background-color: #003366;
			font-family: Verdana, Geneva, sans-serif;
			color: #ffcc00;
			link: {
				color: #ffcc00;}
			visited: {
				color: #ffcc00;}
		}
		.Cadian {
			background-color: #003366;
			font-family: Verdana, Geneva, sans-serif;
			color: #ffcc00;			
		}
		.Catachan {
			background-color: #003366;
			font-family: Verdana, Geneva, sans-serif;
			color: #ffcc00;	
		}
		