body {
		font-family: Verdana, Geneva, sans-serif;
		background-color: #383b3f;}
h1 {
	color: #b29600;
	text-align: center;
	font-size: 90%
}
h2 {
	color: #b29600;
	text-align: center;
}
h3 {
	color: #b29600;
	text-align: center;
	
}
p {
	color: black;
}
.bordermoat {
	margin: 30px;
    width: 60%;
    padding: 10px;
	border: 1px solid #665544;
	background-color: silver;
	text-align: center
}
.Menu {
	margin: 30px;
    padding: 10px;
	border: 1px solid #665544;
	background-color: silver;
	width: 360px;
	color: #b29600;
    
}
li {
	display: inline;
	padding: 0px;
	text-align: left;
	list-style-type: none;
	padding: 0;
	
	
}
.current {
	background-color: yellow;
	color: black;
	
}
table {
width: 360px;}
td, td {
	padding: 7px 10px 10px 10px;}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;}

tr.even {
	background-color: #efefef;}

}	
tr:hover {
background-color: #c3e6e5;}
.money {
text-align: right;}
}
}